<!DOCTYPE html>

<html lang="en">

<head>

    <title>Mint</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/bots.css">

</head>

<body>
    <div class="dashboard">
        {{> rightmenu}}
        <div class="main">
            <div class="title">
                <h2>Bots</h2>
            </div>

            <div class="remove-container">
                <div class="remove">
                    Remove bots that have not pinged for more than 5 days
                    <a href="/panel/remove"><button class="danger">Remove</button></a>
                </div>
            </div>

            <div class="bots-container">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <td>HOSTNAME</td>
                                <td>IP</td>
                                <td>COUNTRY</td>
                                <td>AV</td>
                                <td>OS</td>
                                <td>LASTPING</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each bots}}
                            <tr>
                                <td>{{hostname}}</td>
                                <td>{{ip}}</td>
                                <td>{{country}}</td>
                                <td>{{av}}</td>
                                <td>{{os}}</td>
                                <td>{{toLocal lastPing}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>